.dashboard {
  padding: 0.75rem 2rem;
  color: #ffffff;
  width: calc(100% - 2rem);
}

.sectionTitle {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* Stats Container Styles */
.statsContainer {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.statsCard {
  flex: 3;
  background-color: #000000;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.insightsCard {
  flex: 1;
  background-color: #000000;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* Filter Bar Styles */
.filterBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.filterGroup {
  display: flex;
  gap: 0.75rem;
}

.filterButton {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  border: 1px solid #1d1d1d;
}

.dropdownIcon {
  font-size: 0.5rem;
}

/* Metrics Styles */
.metricsContainer {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.metric {
  display: flex;
}

.metric .metricInfo {
  border-right: 1px solid #1d1d1d;
}

.metricValue {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-right: 0.5rem;
}

.metricInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.25rem;
  padding-right: 1rem;
}

.metricGrowthPositive {
  color: #4ecb71;
  font-size: 0.875rem;
}

.metricPrevious {
  color: #777777;
  font-size: 0.875rem;
}

/* Chart Styles */
.chartContainer {
  flex-grow: 1;
  height: 8rem;
  position: relative;
}

/* Insights Styles */
.insightsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.insightsTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.insightGroup {
  margin-bottom: 1.5rem;
}

.insightType {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
  color: #ffffff;
}

.insightMetric {
  display: flex;
}

.InsightsMetricValue {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  margin-right: 2rem;
}

.viewMore {
  text-align: right;
  border-top: solid 1px #1d1d1d;
  padding-top: 0.75rem;
}

.viewMoreLink {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.arrowIcon {
  font-size: 1rem;
}

/* Demographics Styles */
.demographicsContainer {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.mapCard {
  flex: 3;
  background-color: #111111;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.countryStatsCard {
  flex: 1;
  background-color: #111111;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.worldMapContainer {
  flex-grow: 1;
  position: relative;
  height: 250px;
  margin-bottom: 1rem;
}

.worldMap {
  height: 100%;
  width: 100%;
  position: relative;
}

.mapImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mapLegend {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.legendDot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.legendText {
  font-size: 0.75rem;
  color: #dddddd;
}

.countryStatRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.countryInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.countryFlag {
  font-size: 1.2rem;
}

.countryName {
  font-size: 0.875rem;
}

.countryPercentageContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  justify-content: flex-end;
}

.countryPercentageBar {
  height: 0.5rem;
  min-width: 2rem;
  max-width: 250px;
  border-radius: 0.25rem;
}

.countryPercentage {
  font-size: 0.875rem;
  min-width: 2.5rem;
  text-align: right;
}

.viewMore {
  margin-top: 1rem;
}

@media (max-width: 1260px) {
  .statsCard {
    flex: 2;
  }

  .insightsCard {
    flex: 1;
  }

  .mapCard {
    flex: 2;
  }

  .countryStatsCard {
    flex: 1;
  }
}

@media (max-width: 1080px) {
  .statsCard {
    flex: 1;
  }

  .insightsCard {
    flex: 1;
  }

  .mapCard {
    flex: 1;
  }

  .countryStatsCard {
    flex: 1;
  }
}

@media (max-width: 975px) {
  .statsContainer {
    flex-direction: column;
  }

  .dashboard {
    padding: 0.75rem;
  }
}

@media (max-width: 895px) {
  .demographicsContainer {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .demographicsContainer {
    flex-direction: column;
  }

}
